<button
  mat-icon-button
  class="favorite-icon red-color"
  aria-label="like button"
  (click)="onClickAsync()"
>
  @if (likes() !== -1) {
    <div
      [matBadge]="likes()"
      matBadgeColor="accent"
      matBadgePosition="above after"
      matBadgeSize="small"
      [@singleHeartBeat]="badgeState"
      (@singleHeartBeat.done)="badgeState = ''"
    ></div>
  }
  <mat-icon
    area-hidden="false"
    aria-label="favorite icon"
    fontIcon="favorite"
    [@singleHeartBeat]="heartState"
    (@singleHeartBeat.done)="heartState = ''"
  ></mat-icon>
</button>
