<mat-toolbar color="primary" role="contentinfo">
  <img
    ngSrc="assets/icons/favicon-32x32.png"
    width="32"
    height="32"
    lazy
    aria-hidden="true"
  />
  <span class="example-spacer"></span>
  <span><i>&copy; 2023 Robin Josua Daubensch&uuml;tz</i></span>
  <!-- <div>
          <strong>Socials</strong><br>
          xD
       </div>
       <div>
          <mat-icon area-hidden="false" aria-label="menu" fontIcon="bug_report"></mat-icon>
          report a bug
       </div> -->
</mat-toolbar>
