<mat-list class="flex-list">
  <!-- top list -->
  <div>
    <div class="sidebar-header">
      <!-- todo: add randomized emojies on toggle -->
      <button mat-icon-button aria-label="close menu" (click)="drawer.toggle()">
        <mat-icon area-hidden="false" aria-label="close" fontIcon="close" />
      </button>
    </div>

    <!-- <div mat-subheader>Folders</div> -->
    <mat-list-item
      matRipple
      routerLink="/"
      class="sidebarButton"
      routerLinkActive="activeSidebarButton"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeSidenav()"
    >
      <mat-icon fontIcon="home" matListItemIcon />
      <div matListItemTitle>Home</div>
    </mat-list-item>

    <mat-list-item
      matRipple
      routerLink="/about"
      class="sidebarButton"
      routerLinkActive="activeSidebarButton"
      (click)="closeSidenav()"
    >
      <mat-icon fontIcon="badge" matListItemIcon />
      <div matListItemTitle>About me</div>
    </mat-list-item>
    <!-- routerLink, iconName, text, routerLinkExactMatch -->
    <mat-divider aria-hidden="true" />

    <!-- Tech Stack -->
    <mat-list-item
      matRipple
      routerLink="/tech-stack"
      class="sidebarButton"
      routerLinkActive="activeSidebarButton"
      (click)="closeSidenav()"
    >
      <mat-icon fontIcon="analytics" matListItemIcon />
      <div matListItemTitle>Tech Stack</div>
    </mat-list-item>

    <!-- Resume -->
    <mat-list-item
      matRipple
      routerLink="/resume"
      class="sidebarButton"
      routerLinkActive="activeSidebarButton"
      (click)="closeSidenav()"
    >
      <mat-icon fontIcon="history_edu" matListItemIcon />
      <div matListItemTitle>Resume</div>
    </mat-list-item>

    <!-- Software Biography -->
    <mat-list-item
      matRipple
      routerLink="/software-biography"
      class="sidebarButton"
      routerLinkActive="activeSidebarButton"
      (click)="closeSidenav()"
    >
      <mat-icon fontIcon="code" matListItemIcon />
      <div matListItemTitle>Software Biography</div>
    </mat-list-item>

    <!-- ./blogs -->
    <!-- <mat-list-item matRipple class="sidebarButton" [routerLinkActive]="'activeSidebarButton'" disabled>
              <mat-icon matListItemIcon>newspaper</mat-icon>
              <div matListItemTitle><ng-container i18n>Blogs</ng-container></div>
          </mat-list-item> -->
  </div>

  <!-- Bottom list -->
  <div>
    <img
      #catImg
      alt="a random cat"
      width="200"
      height="200"
      class="cat-img"
      hidden
    />
    <!-- because image coes up and down, each time the loading bar is visible -->
    <div class="prevent-image-moving-up-and-down">
      @if (isLoadingCat()) {
        <mat-progress-bar color="accent" mode="indeterminate" />
      }
    </div>
    <mat-list-item
      matRipple
      class="sidebarButton"
      (click)="loadCat()"
      [disabled]="isLoadingCat()"
    >
      <mat-icon matListItemIcon>pets</mat-icon>
      <div matListItemTitle>Give me a cat!</div>
      <div matListItemLine>
        <i>Can include gifs</i>
      </div>
    </mat-list-item>

    <mat-list-item
      matRipple
      routerLink="/credits"
      class="sidebarButton"
      routerLinkActive="activeSidebarButton"
      (click)="closeSidenav()"
    >
      <app-mat-symbol-eco matListItemIcon></app-mat-symbol-eco>
      <div matListItemTitle>Laurels</div>
      <span><i>Credits</i></span>
    </mat-list-item>
  </div>
</mat-list>
