<div class="tech-stack-container">
  <h2>Tech Stack</h2>

  <div class="competence-container">
    <mat-card class="competence-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Beginner</mat-card-title>
          <shared-star-rating [rating]="1" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-divider aria-hidden="true" />
      <mat-card-content>
        <ul>
          <li>starting out, learning basics/syntax</li>
          <li>first implementations with help of guides</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="competence-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Advanced</mat-card-title>
          <shared-star-rating [rating]="2" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-divider aria-hidden="true" />
      <mat-card-content>
        <ul>
          <li>
            learning Best-Practises and discovering features the technology has
            to offer
          </li>
          <li>
            halting work-flow due to going back and forth between googling and
            implementing
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="competence-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Expert</mat-card-title>
          <shared-star-rating [rating]="3" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-divider aria-hidden="true" />
      <mat-card-content>
        <ul>
          <li>
            knows most features the technology provides and how to use them
          </li>
          <li>fluent workflow</li>
          <li>easily adapts to new versions</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>C# 12.0</mat-panel-title>
        <mat-panel-description>Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Collected practical expierience over 3 years in apprenticeship in
        Console, ASP.NET and Windows Forms applications.
      </p>
      <p>1 year of self-taught expierience in Unity</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Angular 17</mat-panel-title>
        <mat-panel-description>Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Self-taught. Currently learning.</p>
      <mat-panel-description>
        Standalone | Material | Theming | RxJs | Animations | i18n | signals |
        PWA | Cypress | ...
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>ASP.NET</mat-panel-title>
        <mat-panel-description>Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description> </mat-expansion-panel-header
      ><mat-panel-description
        ><code>.Net Framework 4.5 &rarr; 4.8.1</code></mat-panel-description
      >
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>HTML, CSS</mat-panel-title>
        <mat-panel-description>Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Several years of expierience.</p>
      <mat-panel-description>
        Trying to use more semantic html and take care of Accessibility and PWA,
        while taking care of performace and keeping network round trips in mind.
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>UML</mat-panel-title>
        <mat-panel-description>Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        Using&nbsp;<a target="_blank" href="http://dia-installer.de/"
          >Dia Diagram Editor</a
        >
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Database</mat-panel-title>
        <mat-panel-description>Advanced - Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <code>
          MSSQL | ADO.NET | linq2db | EF Core 7 | Entity-relationship Model |
          Relational notation | MongoDB | Firestore | ...
        </code>
      </mat-panel-description>
      <p>
        Designing data structures and database schemas was a a large portion of
        my apprenticeship.
      </p>
      <mat-panel-description>
        The terms: Document, Column-Family, Graph, Key-Value are not strangers
        to me
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>TypeScript</mat-panel-title>
        <mat-panel-description>Advanced - Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="3" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Self-taught. Collecting practial experience while learning Angular.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>IDEs</mat-panel-title>
        <mat-panel-description>Advanced - Expert</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="2" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <code><pre>Visual Studio | VS Code | Rider | VIM</pre></code>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Unity</mat-panel-title>
        <mat-panel-description>Advanced</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="2" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Self-taught. About 1 year of expirience.</p>
      <mat-panel-description>
        No intentions of going back to Game Development, except in my free time
        (which is currently filled with Angular) and only in Unreal Engine,
        unless there is a good reason to use Unity instead (like WebGL).
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Source Controls</mat-panel-title>
        <mat-panel-description>Advanced</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="2" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <code>
          <pre><ng-container>git | GitHub | TFS | Plastic SCM | Azure</ng-container></pre>
        </code>
      </p>

      <mat-panel-description
        >Clone | Commit | Ammend | Push | Fetch | Pull Request | Merge | Fast
        Forward | Squashing | Rebase</mat-panel-description
      >
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>C++</mat-panel-title>
        <mat-panel-description>Beginner</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="1" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Self-taught. I've read and understood the
        <a href="https://cplusplus.com/doc/tutorial/" target="_blank"
          >C++11 Language Tutorial</a
        >
        while looking into
        <a href="https://isocpp.org/wiki/faq/const-correctness" target="_blank"
          >Const Correctness</a
        >
        but besides doing a little bit in Unreal Engine, I have not collected
        much practical experience.
        <mat-panel-description
          >This is by far my&nbsp;<strong>favorite programming language</strong
          >&nbsp;due to it being so close to the underlaying
          system.</mat-panel-description
        >
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Linux</mat-panel-title>
        <mat-panel-description>Beginner</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="1" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description
        >Would like to make the jump from Windows to Linux for my working
        station, but I'm still perfectly fine with
        Windows.</mat-panel-description
      >
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Docker</mat-panel-title>
        <mat-panel-description>Beginner</mat-panel-description>
        <mat-panel-description>
          <shared-star-rating [rating]="1" />
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Collected expirience is visible in this GitHub repository
        <a href="https://github.com/RobinMeow/CommunityCookbook" target="_blank"
          >CommunityCookbook</a
        >. It contains an ASP.NET Core API (containerized for production) as
        well as a MongoDB container (for development).
      </p>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>Python</mat-panel-title>
              <mat-panel-description i18n>Beginner</mat-panel-description>
              <mat-panel-description>
                  <shared-star-rating [rating]="0" />
              </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
              <ng-container i18n>Self taught the basic syntax to help out a friend :)</ng-container>
          </p>
      </mat-expansion-panel> -->

    <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <ng-container>Firebase</ng-container>
              </mat-panel-title>
              <mat-panel-description>
                  <ng-container i18n>Beginner</ng-container>
              </mat-panel-description>
              <mat-panel-description>
                  <shared-star-rating [rating]="0" />
              </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container>Required an easy and a free solution, to host this Homepage.</ng-container>
      </mat-expansion-panel> -->
  </mat-accordion>

  <!-- ToDo: Soft Skils Clean Code / Design Patterns / Refactoring / TDD  -->
</div>
